
.archive-filter-ticket{
	
	margin-top: 10px;
	border-radius: 10px;
	background-color: #FFFFFA;
	border: 1px solid #FFFFFA;
	
	padding: 1em;

	
	
}
.archive-single-ticket.container{
	margin-top: 10px;
	
	border-radius: 10px;
	
}
.archive-single-ticket.container:nth-of-type(odd){
	
	background-color: #E5E5E5;
	border: 1px solid #E5E5E5;
}

.archive-single-ticket.container:nth-of-type(even){
	
	background-color: #D4D4D4;
	border: 1px solid #D4D4D4;
}

.archive-single-ticket.container{
	margin-top: 10px;
	border-radius: 10px;
	background-color: #d8d8d8;
	border: 1px solid #d8d8d8;
	
	padding: 1em;
	
	
}
.wol-separator{
	background-color: #ffffff;
	height: 4px;
	margin-bottom: 10px;
	border-radius: 15px;
	
}
.wol-status{
	
	color: #ffffff;
	/*background-color: #f80606;*/
	font-size: 1.0em;
	font-weight: bold;
	
}

.wol-title{
	
	
	font-size: 1.5em;
	font-weight: bold;
	color: #E5E5E;
	
}

.wol-title a{
	

	color: #2d5c8a;
	
}

.wol-ticket-author{
	
	
	
	font-size: 0.85em;
    font-weight: bold;
    font-style: italic;
    color: #7e7e7e;
    top: 5px;
    

}

.wol-little-title{
	font-size: 0.85em;
	font-weight: bold;
	font-style: italic;
	color:#7e7e7e;
	display:block;

}


/* stile del bordo per la tabella (facoltativo) */
.table-responsive table {border: #ccc solid 1px;}

/* istruzioni per le celle (alcune sono obbligatorie) */
.table-responsive table td.ticket-table-title, .table-responsive table th.ticket-table-title {
	min-width: 50px;
	width: 20%;
	border: #ccc solid 1px;
	word-break: break-all;
	text-align: left;
	padding: 1%;
	font-weight: bold;
}
.table-responsive table td.ticket-table-content, .table-responsive table th.ticket-table-content {
	min-width: 50px;
	width: 30%;
	border: #ccc solid 1px;
	word-break: break-all;
	text-align: left;
	padding: 1%;
}
/* larghezza delle immagini (facoltativo) */
.table-responsive table td img {
	max-width: 98%;
	}

* {
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 *behavior: url(boxsizing.htc);
}

img.scala {
 max-width:100%;
 height:auto;
 width: auto;
}

.riga {
 width: 100%;
 max-width: 1200px;
 min-width: 720px;
 margin: 0 auto;
 /*background: #fff;*/

}

.ticket-status-list{
	color: #ffffff;
	/*background-color: #f80606;*/
	font-size: 1.3em;
	font-weight: bold;
}

.ticket-status-title{
	/*background-color: #f80606;*/
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding-left: 10px;
	padding-right: 10px;

}

.ticket-status-title_orange{
	background-color: #ffb636;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding-left: 10px;
	padding-right: 10px;

}

.ticket-status-title_green{
	background-color: #00c618;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding-left: 10px;
	padding-right: 10px;

}

.ticket-title-list{

	font-size: 1.3em;
	font-weight: bold;

}

.ticket-author-list{
	font-size: 0.85em;
	font-weight: bold;
	font-style: italic;
	color:#7e7e7e;
	top: 5px;
}


.footer-list{

	border-bottom: 0.5px #7e7e7e solid;
	margin-bottom: 10px;
}


.list_intestazione{

	background-color: #e2fbff;
}



/*
Wolly Plugin Support BOOTSTRAP FIX
*/
.archive-single-ticket.container .input-group, .archive-filter-ticket.container .input-group {
	width: 100%;
}
.archive-single-ticket.container .top-buffer { margin-top:20px; }

/* INEX TICKET LIST */
.archive-single-ticket.container .row{
	border-radius: 4px;
	margin-bottom: 2px;
	font-size: 0.85rem;
}
.archive-single-ticket.container  .label{
	vertical-align: 2px;
}
.d-flex#wrapper {
	margin: auto;
	/*width: 90%;*/
}
.container-fluid .entry {
	border: none;
	width: auto;
}
#sidebar-left-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-left-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-left-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-left-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-left-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-left-wrapper {
    margin-left: -15rem;
  }
}


